# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here

# Ticketmaster API (opcjonalne)
NEXT_PUBLIC_TICKETMASTER_API_KEY=your-ticketmaster-api-key

# Database (dla produkcji możesz użyć prawdziwej bazy danych)
DATABASE_URL=your-database-url
